
:root{
    /*  
    font-family: 'Fira Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'PT Sans', sans-serif;
 font-family: 'Rubik', sans-serif; */
}

html{
    font-size: 62.5%
}


body {
     background-image: linear-gradient(150deg,rgb(27, 27, 112),white,grey); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5rem;


}



/* h1{
    font-size:4rem;
}

h2{
    font-size: 3.5rem;

}

h3{
    font-size: 3rem;

}
h4{
    font-size: 2.5rem;
} */
header{
    width: 100%;
    display: flex;
    margin:0;
    padding:0;
    justify-content: space-between;
    background-image: linear-gradient(250deg, violet,rgb(215, 22, 215));
}

.title{
    font-family: 'Rubik', sans-serif;
    font-size: 3.5 rem;
    width:20%;
}

nav{
   width:65%;
}
nav ul{
    display:flex;
    justify-content: space-evenly ;
    width:100%;
    list-style: none;
    
}
nav ul li a{
font-family: 'Nunito', sans-serif; 
font-size: 2.5rem;
color:black;
}

.content{
     margin-left: 0;
}

.row{
    display:flex;
    justify-content:space-evenly ;
    margin: 5%;
    padding:5%;
}
.side{
    width:15%;
    border-right: 2px solid black;
    text-align: right;
    
}
.maincontent{
    width: 65%;
    display: flex;
}
#pfp{
    max-width: 50%;
    max-height: 50%;
    align-content: center;


}
#work-section{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#Refactor{
    flex:100%;
}

.projects{
    width:45%;
    margin:1%;
    padding:1%;
    border: 1%;
    font-family: 'Rubik', sans-serif;
     position: relative;
    
}

.projects img{
    width: 100%;
    height:100%;
}

.project-heading{
    position: absolute;
    bottom:4px;
    left:4px;
    font-size:1rem;
    background-color: rgb(142, 111, 173);
}
article.maincontent ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 85%;

}
@media screen(max-width: 767px) {
    .title
    .aboutme-text
   
  }
  
  @media screen(min-width: 768px) {
   
  }



